{% extends "app_src/main.html" %}
{% block content %}
    <div class="masthead-content text-center text-white">
        <div class="bg-dark m-4 p-2 w-50 container px-5 rounded">
            <form method="post">
                {% csrf_token %}
                <h1>CRIAR CLIENTE</h1>
                {% for message in messages %}<h5>{{ message }}</h5>{% endfor %}
                <p>Nome</p>
                <input type="text" name="nome" class="subheading mb-3 form-control" />
                <p>Sobrenome</p>
                <input type="text" name="sobrenome" class="subheading mb-3 form-control" />
                <p>Telefone</p>
                <input type="text" name="telefone" class="subheading mb-3 form-control" />
                <p>Email</p>
                <input type="text" name="email" class="subheading mb-3 form-control" />
                <p>Empresa</p>
                <input type="text" name="empresa" class="subheading mb-3 form-control" />
                <p>Descrição</p>
                <input type="text" name="descricao" class="subheading mb-3 form-control" />
                <input type="submit" class="btn btn-primary btn-l rounded-pill" />
            </form>
        </div>
    </div>
{% endblock content %}
