{% extends "auth_src/main.html" %}
{% block content %}    
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <form method="POST" action="">

        {% csrf_token %}

        <h1 class="masthead-heading mb-0">LOG IN</h1>

        {% for message in messages %}

        <h5 class="masthead-subheading">{{message}}</h5>
        
        {% endfor %}

        <input type="text" name="username" class="masthead-subheading mb-3 form-control" placeholder="Username"/>
        <input type="password" name="password" class="masthead-subheading mb-0 form-control" placeholder="Password"/>

        <input type="submit" class="btn btn-primary btn-xl rounded-pill mt-5"/>
      </form>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock content %}